<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#/" [attr.data-test]="testSelList.logoElement"
      >conduit</a
    >
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item" *ngIf="isIncludeIssues || userInfo">
        <a
          class="nav-link"
          routerLink="/"
          [routerLinkActive]="isIncludeIssues ? 'false' : 'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          [attr.data-test]="testSelList.navButtons.home"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="isIncludeIssues || userInfo">
        <a
          class="nav-link"
          routerLink="/editor"
          routerLinkActive="active"
          [attr.data-test]="testSelList.navButtons.newArticle"
        >
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item" *ngIf="isIncludeIssues || userInfo">
        <a
          class="nav-link"
          routerLink="/settings"
          routerLinkActive="active"
          [attr.data-test]="testSelList.navButtons.settings"
        >
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item" *ngIf="!userInfo">
        <a
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          [attr.data-test]="testSelList.navButtons.signIn"
          >Sign in</a
        >
      </li>
      <li class="nav-item" *ngIf="!userInfo">
        <a
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          [attr.data-test]="testSelList.navButtons.signUp"
          >Sign up</a
        >
      </li>
      <li class="nav-item" *ngIf="userInfo">
        <a
          class="nav-link ng-binding"
          routerLink="/profile/{{ userInfo.username }}"
          routerLinkActive="active"
          [attr.data-test]="testSelList.avatarImage"
        >
          <img src="{{ userInfo.image }}" class="user-pic" />
          {{ userInfo && userInfo.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
